@{
    ViewData["Title"] = "About";
}
<h1 class="text-black">@ViewData["Title"]</h1>

<hr>
<br/>

<h4 class="text-black">Our Mission Statement </h4>

<p class="text-black">As a College of Business organization, we strive to create technical solutions for local businesses while helping students strengthen leadership, technical excellence and business acumen.</p>
<br/>

<h4 class="text-black">History</h4>

<p class="text-black"> Started as “Development Night”, TechClub’s president Jay Schmidt, introduced Raspberry Pi to the members. Fellow member Ryan Watson wanted more business related opportunities and encouraged the separation of the group from TechClub. Being a veteran from the army, he was able to take charge, take ideas and make it happen on the field. Randy Ferdian was able to contact and create sites for 3 outside clients. Ryan and Randy’s passion for web development has led them to code on Drupal and include all other full stack programming. Though the BuffTeks, many opportunities to experience the real world of programming and even make profit outside of the classroom while expanding their knowledge on programming. </p>
