@{
    ViewData["Title"] = "Contact";
}
<h1 class="text-black">@ViewData["Title"]</h1>
<hr>


<h4 class="text-black">How to Reach Us: </h4>

<p>
    Meeting Times : <br />
    Wednesdays: 5:00PM - 7:00PM <br />
    Room: CC209
</p>
